@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.889);
}

::-webkit-scrollbar-thumb {
    background: rgba(154, 153, 153, 0.587);
    border-radius: 40px;
}

h1,
h2,
h5,
h6 {
    font-weight: bold;
    font-family: 'Italiana', sans-serif;
    color: black;

}

p,
h4 {
    color: black;
}

nav {
    margin: 20px;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(255, 255, 255, 0.81);
    padding: 0px !important;
    position: fixed !important;
    z-index: 2;
    width: 98%;
}

nav a {
    color: black;
    font-weight: 900;
    font-size: 20px;
}

nav a>img {
    height: 80px;
    width: 90px;
}

a:hover {
    text-decoration: none;
}

.navbar-brand {
    font-weight: bold;
    color: #8578db;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

#slider {
    margin: 20px 20px;
    display: flow-root;
    justify-content: center;
    align-items: center;
}

#slider img {
    border-radius: 20px;
    height: 46rem;
}

#slider span {
    -webkit-text-stroke: 1.2px rgb(148, 182, 237);
    letter-spacing: 4px;
    color: transparent;
}

.carousel-caption {
    background-color: rgb(51, 65, 85);
    color: white;
    margin-bottom: 50px;
}

#line>div {
    background-color: rgb(51, 65, 85);
    height: 5px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

#line>h3 {
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    margin-left: 50px;
}

.number {
    font-size: 50px;
    font-weight: bold;
}

.round-number h5 span {
    color: #ffffff;
    background-color: rgb(51, 65, 85);
    padding: 10px 12px;
    border-radius: 50%;
    margin-right: 30px;
}

.round-number p {
    border-left: 1px solid rgb(181, 181, 181) !important;
    padding-left: 60px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.last p {
    border-left: none !important;
}

.other-Home_hero {
    display: none;
}

footer {
    background-color: rgb(36, 43, 54);
    color: white;
    padding: 40px 40px;
    margin-top: 60px;
    height: 70px;
    text-align: center;
}

footer h6 {
    float: left;
}

footer p {
    float: right;
    font-size: 140%;
}

footer a {
    color: white;
}

#top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: rgb(237, 199, 9);
    cursor: pointer;
}

.layout {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.layout img {
    height: 22rem;
    transition: 1.9s;
}

.our_work-section {
    background-image: radial-gradient(#3153a1, #556589, #3d424d);
    backdrop-filter: blur(5px);
    padding-bottom: 20px;
}

.our_work-section_btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 20px;
}

.our_work-section_btn button {
    background: paleturquoise;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 10px;
    transition: 1s ease-in-out;
}


.our_work {
    text-align: center;

}

.our_work h1 {
    color: #f1f1f1;
    margin: 20px;
    z-index: 2;

}

.layout img:hover {
    scale: 1.1;
}

.content-section {
    margin: 16px 10px 10px 10px;

}

.content {
    text-align: center;
    margin: 20px;
}

.layout-content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 8vw;
}

.layout-content a {
    text-decoration: none;
    color: rgb(36, 43, 54);
    font-size: large;
}

/* Architecture */

.info_section {
    animation: downToUp 0.8s;
    margin-bottom: 40px;
}

@keyframes downToUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.info_ar {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8%;
}

.info_ar>h1 {
    font-size: 90px;
    font-family: 'Italiana', sans-serif;
}

.info_ar>h1>span {
    font-size: 90px;
}

.info_ar span {
    -webkit-text-stroke: 1.2px rgb(36, 43, 54);
    color: transparent;

}

.info_about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24.3vh;
    text-align: center;
}

.info_ar p {
    width: 40rem;
    letter-spacing: 2px;
    font-family: 'Italiana', sans-serif;
    font-weight: 900;

}

.img_section {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.layout_img {
    width: 100%;
    display: flex;
}

.img {
    background-image: url("./images/Architecture/Architecture_one.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 27.7vw;
    width: 34vw;
    /* display: block; */
    border-radius: 10% 0% 10% 0%;
    transition: 1.4s;
    margin-left: 8%;
    scale: 1.2;
}

.container-zero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img3-info {
    height: 20rem;
    width: 40rem;
    transition: 1.4s;
    margin-left: 8%;
    animation: leftToRight 0.8s;
}


.img h1 {
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    transition: 1.2s;
    color: #272525;
}

.img2 {
    background-image: url("./images/Architecture/Architecture_two.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 27.7vw;
    width: 34vw;
    display: block;
    transition: 1.4s;
    margin-left: 8%;
    animation: leftToRight 0.8s;
    border-radius: 4%;
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.img2 h3 {
    opacity: 0;
    transition: 1.2s;
    color: #000000;
    padding: 20px !important;
    margin: 20px !important;
    text-align: center;
}

.img2 span {
    font-size: 30px;
    padding-left: 10px;
    -webkit-text-stroke: 1.2px rgb(36, 43, 54);
    color: transparent;

}

.first_section {
    margin-top: 10rem;
}

.img3 {
    background-image: url("./images/Architecture/Architecture_three.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 27.7vw;
    width: 34vw;
    display: block;
    transition: 1.4s;
    transition: 2s;
    scale: 1;
    border-radius: 10% 0% 10% 0%;
}

.img3:hover {
    border-radius: 0% 10% 0% 10%;
}

.third_section {
    margin-top: 60px;
    animation: leftToRight 1s;
}

.img6 {
    background-image: url("./images/Architecture/Architecture_five.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 26vw;
    transition: 1.4s;
    margin-left: 2%;
    scale: 1;
    transition: 2s;
    border-radius: 10px 10px 10px 10px;
    animation: leftToRight 0.9s;
}

.img6 h2 {
    transform: rotate(90deg);
    position: absolute;
    font-size: 40px;
    color: #9cc89f;
    right: -60%;
    letter-spacing: 12px;
    bottom: 240px;
    font-family: 'Italiana', sans-serif;
}

.img7 {
    background-image: url("./images/Architecture/Architecture_six.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 26vw;
    display: block;
    transition: 1.4s;
    animation: leftToRight 0.9s;
    margin-left: 1%;
}

.last-img {
    display: flex;
    flex-direction: row;
    height: 38rem;
}

.last_section {
    justify-content: center;
    align-items: center;
    margin: 10rem;
}

.last-info {
    height: 20rem;
}

/* Interiors  */

.Interiors_info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-right: 40px;
}

.About_interiors {
    width: 60%;
}

.About_interiors h4 {
    width: 30rem;
    text-align: left;
    margin-left: 4rem;
}

.About_interiors-img img {
    height: 34vw;
    border-radius: 10%;
    margin-top: 20px;

}

.Interior_card {
    display: flex;
    margin: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    position: relative;
    width: 424px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgb(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background-color: #f1f1f1;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-60px);
    border-radius: 4px;
}

.imgbox img {
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

}

.imgbox_two img {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.Interior-data {
    display: block;
    text-align: center;
    animation: leftToRight 0.6s;
}

.interior_hover {
    width: 400px;
    height: 430px;
    display: inline-block;
    border-radius: 10px;
    padding: 14px 24px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 14px;
    background-position: center;
    background-size: cover;
    transition: all 1s;
    opacity: 1;
}

.card1 {
    background-image: url("./images/Interiors/Interiors_six.png");
}

.card2 {
    background-image: url("./images/Interiors/Interiors_seven.png");
}

.card3 {
    background-image: url("./images/Interiors/Interiors_eight.png");
}

.card4 {

    background-image: url("./images/Interiors/Interiors_nine.png");
}

.card5 {
    background-image: url("./images/Interiors/Interiors_eleven.png");
}

.interior_hover:hover {
    transform: translateY(-14px);
}

.choose {
    margin: 4rem;
    text-align: center;
}

.choose p {
    font-size: large;
    word-spacing: 14px;
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    nav {
        width: 70%;
    }

    nav span {
        display: none;
    }

    #slider {
        height: 26rem;
    }

    #slider img {
        height: 26rem;
    }

    .layout img {
        height: 20rem;
    }

    #our-work {
        padding: 0rem !important;
        padding-left: 0rem !important;

    }

    #top-button {
        display: none;
    }

    #our-work img:hover {
        scale: none;
    }

    .other-Home_hero {
        display: contents;
        justify-content: center;
        text-align: center;
    }

    #line>h3 {
        width: 300px;
    }

    .info_ar h1 {
        padding-top: 20%;
        font-size: 40px;
    }

    .info_ar>h1>span {
        font-size: 40px;
    }

    .img {
        height: 49vw;
        width: 40vw;
    }

    .img2 {
        height: 52vw;
        width: 42vw;
        margin-bottom: 20px;
    }

    .img2 span {
        font-size: 10px;
    }

    .container-zero {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        flex-direction: column;
    }

    .img3-info {
        height: 18rem;
        width: 23rem;
        transition: 1.4s;
        margin-left: 0%;
        padding-top: 10%;
        animation: leftToRight 0.8s;
    }

    .img3-info h4 {
        font-size: 1.2rem;
    }

    .img3 {
        height: 14rem;
        width: 14rem;
    }

    .img5 {
        margin-top: 0px;
    }

    .img6 {
        height: 50vw;
        width: 26rem;
        margin-left: 0%;
        background-size: contain;
        transition: 1.4s;
        margin-left: 2%;
        scale: 1;
        transition: 2s;
        border-radius: 10px 10px 10px 10px;
        animation: leftToRight 0.9s;

    }

    .img6 h2 {
        display: none;
    }

    .img7 {
        height: 44vw;
        margin-top: 20px;
        width: 46vw;
    }

    .last-img {
        display: flex;
        flex-direction: column;
        height: 30rem;
        margin: 2rem;
    }

    .last_section {
        justify-content: center;
        align-items: center;
        margin: 2rem;
    }

    .last-info {
        height: 0rem;
    }

    .About_interiors {
        width: 90%;
    }

    .About_interiors h4 {
        width: 22rem;
        text-align: left;
        margin-left: 0rem;
    }

    .About_interiors-img img {
        height: 49vw;
        border-radius: 10%;
        margin-top: 20px;
        width: 100%;
    }

    .Interiors_info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Interior_card {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-top: 40px
    }

    .interior_hover {
        width: 340px;

    }
}