@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.889);
}

::-webkit-scrollbar-thumb {
    background: rgba(154, 153, 153, 0.587);
    border-radius: 40px;
}

h1,
h2,
h5,
h6 {
    font-weight: bold;
    font-family: 'Italiana', sans-serif;
    color: black;

}

p,
h4 {
    color: black;
}

nav {
    margin: 20px;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(255, 255, 255, 0.81);
    padding: 0px 0px 0px 0px !important;
    position: fixed !important;
    z-index: 2;
    width: 98%;
}

nav a {
    color: black;
    font-weight: 900;
    padding: 0px 0px 0px 0px !important;
    font-size: 20px;
}

.dropdown-content {
    padding: 14px !important;
}

nav a>img {
    height: 6rem;
    padding-left: 40px;
}

a:hover {
    text-decoration: none;
    color: black;
}

.navbar-brand {
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

#slider {
    margin: 20px 20px;
    display: flow-root;
    justify-content: center;
    align-items: center;
}

#slider img {
    border-radius: 20px;
    height: 46rem;
}

#slider span {
    -webkit-text-stroke: 1.2px rgb(148, 182, 237);
    letter-spacing: 4px;
    color: transparent;
}

.carousel-caption {
    background-color: rgb(51, 65, 85);
    color: white;
    margin-bottom: 50px;
}

#line>div {
    background-color: rgb(51, 65, 85);
    height: 5px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

#line>h3 {
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    color: black;
    margin-left: 50px;
}

.number {
    font-size: 50px;
    font-weight: bold;
}

.round-number h5 span {
    color: #ffffff;
    background-color: rgb(51, 65, 85);
    padding: 10px 12px;
    border-radius: 50%;
    margin-right: 30px;
}

.round-number p {
    border-left: 1px solid rgb(181, 181, 181) !important;
    padding-left: 60px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.last p {
    border-left: none !important;
}

.other-Home_hero {
    display: none;
}

footer {
    background-color: rgb(36, 43, 54);
    color: white;
    padding: 40px 40px;
    margin-top: 60px;
    height: 70px;
    text-align: center;
}

footer h6 {
    float: left;
}

footer p {
    float: right;
    font-size: 140%;
}

footer a {
    color: white;
}

#top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: rgb(237, 199, 9);
    cursor: pointer;
}

.layout {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.layout img {
    height: 22rem;
    transition: 1.9s;
}

.our_work-section {
    background-image: radial-gradient(#3153a1, #556589, #3d424d);
    backdrop-filter: blur(5px);
    padding-bottom: 20px;
}

.our_work-section_btn {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 20px;
}

.our_work-section_btn button {
    background: paleturquoise;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 10px;
    transition: 1s ease-in-out;
}


.our_work {
    text-align: center;

}

.our_work h1 {
    color: #f1f1f1;
    margin: 20px;
    z-index: 2;

}

.layout img:hover {
    scale: 1.1;
}

.content-section {
    margin: 16px 10px 10px 10px;

}

.content {
    text-align: center;
    margin: 20px;
}

.layout-content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 8vw;
}

.layout-content a {
    text-decoration: none;
    color: rgb(36, 43, 54);
    font-size: large;
}

/* Architecture */

.info_section {
    animation: downToUp 0.8s;
    margin-bottom: 40px;
}

@keyframes downToUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.info_ar {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8%;
}

.info_ar>h1 {
    font-size: 90px;
    font-family: 'Italiana', sans-serif;
}

.info_ar>h1>span {
    font-size: 90px;
}

.info_ar span {
    -webkit-text-stroke: 1.2px rgb(36, 43, 54);
    color: transparent;
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



.page{
    height: 50vh;
}
.loop{
    position: absolute;
    top: 30%;
    height: 60%;
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
}
.loop>img{
    height: 90%;
    margin: 6px;
    animation: anim 24s linear infinite;
}

@keyframes anim {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.loop-info{
    justify-content: center;
    text-align: start;
    margin: 60px;
    animation: downToUp 0.8s;
    align-items: center;
}
.loop-info>h4{
    width: 90%;
    animation: downToUp 0.8s;
}
.provide{
    justify-content: center;
    align-self: center;
    margin-left: 30rem;
}
.provide-services>h3{
    padding-left: 60px
}

/* Interiors  */

.Interiors_info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-right: 40px;
}

.About_interiors {
    width: 60%;
}

.About_interiors h4 {
    width: 30rem;
    text-align: left;
    margin-left: 4rem;
}

.About_interiors-img img {
    height: 34vw;
    border-radius: 10%;
    margin-top: 20px;

}

.Interior_card {
    display: flex;
    margin: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    position: relative;
    width: 424px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgb(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background-color: #f1f1f1;
}

.imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-60px);
    border-radius: 4px;
}

.imgbox img {
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);

}

.imgbox_two img {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.Interior-data {
    display: block;
    text-align: center;
    animation: leftToRight 0.6s;
}

.interior_hover {
    width: 400px;
    height: 430px;
    display: inline-block;
    border-radius: 10px;
    padding: 14px 24px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 14px;
    background-position: center;
    background-size: cover;
    transition: all 1s;
    opacity: 1;
}

.card1 {
    background-image: url("./images/Interiors/Interiors_six.png");
}

.card2 {
    background-image: url("./images/Interiors/Interiors_seven.png");
}

.card3 {
    background-image: url("./images/Interiors/Interiors_eight.png");
}

.card4 {

    background-image: url("./images/Interiors/Interiors_nine.png");
}

.card5 {
    background-image: url("./images/Interiors/Interiors_eleven.png");
}

.interior_hover:hover {
    transform: translateY(-14px);
}

.choose {
    margin: 4rem;
    text-align: center;
}

.choose p {
    font-size: large;
    word-spacing: 14px;
    margin-top: 2rem;
}



.imgbox_one img{
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
    height: 14rem;
}
/* ABOUT  */
.info_about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24.3vh;
    text-align: center;
}

.info_ar p {
    width: 40rem;
    letter-spacing: 2px;
    font-family: 'Italiana', sans-serif;
    font-weight: 900;

}
.our_team {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.company {
    background: linear-gradient(to right, rgba(200, 203, 206, 0.776) 50%, rgba(255, 255, 255, 0.2) 50%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-position: left;
    transition: 1s;
    padding: 4vw;
    background-size: 200%;
}

.company:hover {
    background-position: right;
}
.company h2{
    text-shadow: 1px 1px 1px currentColor;
}

@media only screen and (max-width: 600px) {
    nav {
        width: 22rem;
    }

    nav span {
        display: none;
    }

    nav a>img {
        height: 4.9rem;
        padding-left: 20px;
    }

    #slider {
        height: 38rem;
    }

    #slider img {
        height: 38rem;
    }

    .layout img {
        height: 20rem;
    }

    #our-work {
        padding: 0rem !important;
        padding-left: 0rem !important;

    }

    #top-button {
        display: none;
    }

    #our-work img:hover {
        scale: none;
    }

    .other-Home_hero {
        display: contents;
        justify-content: center;
        text-align: center;   
    }

    #line>h3 {
        width: 300px;
    }

    .info_ar h1 {
        padding-top: 20%;
        font-size: 40px;
    }
    .page{
        height: 38vh;
    }
    .info_ar>h1>span {
        font-size: 40px;
    }

    

    .container-zero {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;
        flex-direction: column;
    }
    .loop{
        position: absolute;
        top: 24%;
        height: 40%;
        width: 100%;
        display: flex;
        white-space: nowrap;
        overflow-x: hidden;
    }
    .loop-info{
        margin-left: 30px;
        width: 80%;
        text-align: start;
        align-items: center;
    }
    .loop-info>h4{
        width: 100%;
    }
   
    .provide{
        justify-content: center;
        align-self: center;
        margin-left: 2rem;
    }
    .provide-services>h3{
        padding-left: 10px
    }

    .About_interiors {
        width: 90%;
    }

    .About_interiors h4 {
        width: 22rem;
        text-align: left;
        margin-left: 0rem;
    }

    .About_interiors-img img {
        height: 49vw;
        border-radius: 10%;
        margin-top: 20px;
        width: 100%;
    }

    .Interiors_info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Interior_card {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-top: 40px
    }

    .interior_hover {
        width: 340px;

    }

    .team {
        flex-direction: column;
    }

    .company {
        margin: 10px;
        padding: 4vh;
    }

    .Co-director>h2 {
        width: 30vh;
    }
}